<ion-view view-title="Questbook" name="login-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item-icon-right" ng-repeat="plan in data.plans" ui-sref="app.questline_show">
        {{plan}}
        <i class="icon ion-edit"></i>
      </ion-item>
    </ion-list>
    <button class="button button-block button-balanced">
      Add Plan
    </button>
  </ion-content>
</ion-view>