<ion-view view-title="{{skill.name}}" name="login-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
     <div class="item">
      Level: {{getSkillLevel()}} ({{skill.xp ? skill.xp : 0}} xp)
      <span class="badge badge-calm">{{xp2next(skill.xp)}}</span>
      <progress id="progressbar" max="{{skill.nextxp}}" value="{{skill.xp}}"> </progress>
    </div>

    <ion-list>
      <h4 class="title" style="text-align: center;">Current Tasks</h4>
      <ion-item class="item-icon-right" ng-repeat="quest in getQuests()">
        {{quest.name}}
      </ion-item>
      <ion-item ng-if="skill.quests.length == 0">
        There are no quests!
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>